/* ν‘Έν„° μ‹μ‘ */
footer {
  width : 100%;
  height: 100vh;
}
.contactUs-contents{
  height: calc(100% - 170px);
  display: flex;
}
.contactUs-title{
  width: 100%;
  height : 150px;
  text-align: center;
  line-height: 170px;
  font-size: 50px;
}
footer .contactUs-div{
  width : 50%;
  height: 100%;
  padding : 20px 20px 0 20px;
}
footer .contactUs{
  width : 100%;
  height: 100%;
  background-color : peachpuff;
  display: flex;
  justify-content: space-around;
}
footer .con{
  width : 65%;
  height: 100%;
  background-color : rgb(67, 243, 126);
}
footer .con .con1{
  width : 100%;
  height: 50%;
  background-color: purple;
}
footer .con .con2{
  width : 100%;
  height: 50%;
  background-color: rgb(223, 255, 78);
}
footer .con3{
  width : 35%;
  height: 100%;
  background-color: rgb(255, 121, 121);
}
footer .comment-div{
  width : 50%;
  height: 100%;
  padding : 20px 20px 0 20px;
}
footer .comment{
  width: 100%;
  height: 100%;
  overflow-y : scroll; 
  background-color : lightblue;
}