/* ν‘Έν„° μ‹μ‘ */
footer {
  width : 100%;
  height: 100vh;
}
.contactUs-contents{
  height: calc(100% - 170px);
  display: flex;
  justify-content: center;
}
.contactUs-title{
  width: 100%;
  height : 150px;
  text-align: center;
  line-height: 170px;
  font-size: 50px;
}
footer .contactUs-div{
  width : 80%;
  height: 100%;
  padding : 20px;
}
footer .contactUs{
  width : 100%;
  height: 100%;
  background-color : rgb(252, 233, 216);
  display: flex;
  justify-content: space-around;
}
footer .con{
  width : 65%;
  height: 100%;
  background-color : rgb(224, 252, 233));
}
footer .con .con1{
  width : 100%;
  height: 50%;
  background-color: rgb(255, 228, 255);
}
footer .con .con2{
  width : 100%;
  height: 50%;
  background-color: rgb(248, 255, 217);
}
footer .con3{
  width : 35%;
  height: 100%;
  background-color: rgb(255, 215, 215);
}
footer .comment-div{
  width : 90%;
  height: 100%;
  padding : 20px;
}
footer .comment{
  width: 100%;
  height: 100%;
  overflow-y : scroll; 
  background-color : rgb(228, 248, 255);
}